/*!CK:36567545!*//*1442197876,*/

._585z{opacity:.02}._585z canvas{opacity:1 !important}
.sp_9qweXRqZCnP{background-image:url(/rsrc.php/v2/ym/r/Y_CfQa_BX13.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_9qweXRqZCnP.sx_69e085{background-position:0 0}.sp_9qweXRqZCnP.sx_b150c3{background-position:0 -13px}.sp_9qweXRqZCnP.sx_3fc373{background-position:0 -26px}.sp_9qweXRqZCnP.sx_e98e14{background-position:0 -39px}.sp_9qweXRqZCnP.sx_dfc632{background-position:0 -52px}.sp_9qweXRqZCnP.sx_3e5d20{background-position:0 -65px}.sp_9qweXRqZCnP.sx_060d3a{background-position:0 -78px}.sp_9qweXRqZCnP.sx_4d9c73{background-position:0 -91px}

#bootloader_WAKuA { height: 42px; }
.bootloader_WAKuA { display:block !important; }